<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="thirdwatch" translate="label" sortOrder="10">
            <label>Thirdwatch</label>
        </tab>

        <section id="mitra" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>

            <label>Settings</label>

            <tab>thirdwatch</tab>

            <resource>Thirdwatch_Mitra::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">

                <label>Api settings</label>

                <field id="secret_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key: </label>
                    <comment><![CDATA[Obtain this key by registering on <a href="https://dashboard.thirdwatch.ai/login" target="_blank">here</a>.]]></comment>
                </field>
                
                <field id="store_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Store Base URL: </label>
                    <comment>For example, https://www.thirdwatch.ai</comment>
                </field>
                        
                <field id="plugin_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is active?</label>
                    <comment>Select yes to enable the thirdwatch plugin.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>